@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  }
  
.MuiBottomNavigation-root{
  display: inline !important;
  background-color: transparent !important;
}

#NavBarContent {
  display: block;
}

#listOptions {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

#listOptions li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all ease .3s;
}

#listOptions li:hover:after {
  width: 100%;
  background: white;
}

#menu-toggle:checked ~ #NavBarContent {
  display: block;
}
.no-scroll {
  overflow: hidden;
}
@media (max-width: 767px) {
  #NavBarContent {
    display: none;
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 12%;
    left: 0;
    backdrop-filter: blur(20px);
    transform: translateX(600px);
    transition: ease all 3s;
  }

  #listOptions {
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle:checked ~ #NavBarContent {
    transform: translateX(0px);
  }
  #menu-toggle:checked ~ #root {
    overflow-x: hidden;
  }
}

@media (max-width: 1024px) {
  #listOptions {
    gap: 20px;
  }
}
